Sirenix.OdinInspector.Modules.UnityMathematics.csproj
.vs/LevelDesign/FileContentIndex/*
.vs/LevelDesign/v17/.suo
Assets/Plugins/*
Assets/Samples/*
Assets/TextMesh Pro/*
Assets/TutorialInfo/*
Library/*
Logs/*
obj/*
Temp/*
Assets/Technie/*